*~
SSHT.sublime-project
SSHT.sublime-workspace

build/
*.DS_Store
*.idea/
src/pyssht/*.c
src/pyssht/*.so

CMakeCache.txt
CMakeFiles/

pip-wheel-metadata/
src/pyssht.egg-info/
src/pyssht/pyssht*so
__pycache__
MANIFEST
dist/
compile_commands.json
.clangd/
