body {
        background-color:#fff;
        font-family:"Trebuchet MS",arial,sans-serif;
        font-size:0.9em;
        color:#333;
        margin:20px 40px 0px 40px;
        padding:0;
}

hr {
	margin: 30px 0px 0px 0px;
}

code {
       	font:"Andele Mono";
	font-size:1.2em;
	font-weight: 600;
}

<!--
pre {
       	font:"Andele Mono";
	font-size:1.0em;
	font-weight: 500;
}


pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 background: #faf8f0;
}

pre,
code  {font-family: consolas, courier, monospace;
       font-size: 1em;
       line-height: 1.2em;
       white-space: pre; 
       background-color: #ccf; /* any colour's okay, 
       so long as it's different to the page-background  
       (for ease of recognition) and contrast to the text */
       color: #000; /* likewise the background-color comment */
       border: 1px solid #666;
       -moz-border-radius: 1em;
       -webkit-border-radius: 1em;
       border-radius: 1em; /* just in case */
       padding: 1em;
       margin: 1.2em 1em;
       width: 50%; /* or whatever you prefer */
       float: right;
       }
-->

pre {
	font-size: 12px;
	padding: 0;
	margin: 20px;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 20px; /*--Height of each line of code--*/
	background: #faf8f0;
	width: 600px;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}